{% if champions %}
<h1 class='text-3xl sm:text-7xl lg:text-3xl text-zinc-800 font-black text-center mt-10 pt-10'>Previous {{window_type}}ly
    Champs</h1>
<br>
<br>
<table class="border-collapse m-auto table-auto w-[95%] sm:text-6xl lg:text-lg">
    <thead>
        <tr>
            <th class="border-b font-bold p-4 pl-8 pt-0 pb-3 text-left">{{window_type}}</th>
            <th class="border-b font-bold p-4 pl-8 pt-0 pb-3 text-left">Name</th>
            <th class="border-b font-bold p-4 pl-8 pt-0 pb-3 text-left">Guesses</th>
        </tr>
    </thead>
    <tbody class="bg-white">
        {% for champion in champions %}
            {% if forloop.counter <= 5 %} <tr>
            <td class="border-b border-slate-100 p-4 pl-8 text-zinc-400">
                {% if window_type == 'Month'%}
                {{champion.window_start|date:'M., Y'}}
                {% elif window_type == 'Week' %}
                {{champion.window_start|date:'M. d'}}
                {% endif%}
            </td>
            <td class="border-b border-slate-100 p-4 pl-8">
                {{champion.submitter.name}}
            </td>
            <td class="border-b border-slate-100 p-4 pl-8">
                {{champion.num_guesses}}
                {# Hacky way to get a percentage: #}
                <span class="text-zinc-400">({% widthratio champion.num_guesses champion.num_possible_guesses 100%}%)</span>
            </td>
            </tr>
            {%endif%}
        {%endfor%}
    </tbody>
</table>
<br>
<br>
{% endif %}